<div id="home">
	<div class="landing-text">
		<h3>Welcome to Money Transfer App</h3>
		<a href="/signup" class="btn btn-secondary btn-lg active">Get Started</a>
	</div>
</div>

<div class="padding">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<img src="assets/img/money.jpg">
			</div>
			<div class="col-sm-6 text-center">
				<h2>About money transfer app</h2>
				<p class="lead">We are building a web platform that can enable users to register and send money to each other within the system. They top up their accounts through MPESA* and can now transfer amongst themselves. They use the registered number or email address to transfer.</p>


			</div>
		</div>
	</div>
</div>

<div id="fixed">
</div>

<div class="padding">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h4>It's quick and easy</h4>
				<p>Register using the Sign Up button and login into your account to start sending money</p>
			</div>
			<div class="col-sm-6">
				<img src="assets/img/money3.jpg">
			</div>
		</div>
	</div>
</div>